!!!
%html
  %head
    %title CalendarMeet
    = csrf_meta_tags
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar-inverse
      .navbar-header
        %button.navbar-toggle.collapsed{ aria: { expanded: 'false' }, data: { target: '#bs-navbar-collapse-1', toggle: 'collapse' }, type: 'button' }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Calendar meeting system', root_path, class: 'navbar-brand'
      #bs-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Calendars', calendars_path
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to users_path() do
                %i.glyphicon.glyphicon-user
                = current_user.email
            %li
              = link_to destroy_user_session_path do
                %i.glyphicon.glyphicon-off
                = 'Logout'
          - else
            %li
              = link_to new_user_session_path do
                = 'Sign in'
            %li
              = link_to new_user_registration_path do
                = 'Sign up'
    .container-fluid
      .row{ style: 'padding-top: 100px;' }
        .col-sm-4.col-sm-offset-4
          = flash[:notice]
          = yield